/*#########################################################################*/
/*# hlmaps.css (csserverstat) 																						#*/
/*#  - The "csserverstat" stylesheet for hlmaps HTML templates						#*/
/*#  - Copyright Brian Porter 																						#*/
/*#  - Distributed under the GPL terms - see docs for info								#*/
/*#  - http://hlmaps.sourceforge.net																			#*/
/*# 																																			#*/
/*#########################################################################*/

body		
{ 
	background-color: #404040; 
	color: "#f1f1f1";
	padding: 0 0 0 0; 
	margin: 2 2 2 2; 
	font-family=Verdana, Arial, Helvetica; 
	font-size=10pt;
}

/*This section fixes the "blank link" look that
	happens when using the csserverstat style*/
a:link.creditsLinkClass
{
	text-decoration: none; 
	color: #909090;

}
a:visited.creditsLinkClass
{
	text-decoration: none; 
	color: #909090;

}
a:active.creditsLinkClass 	
{ 
	text-decoration: none; 
	color: #E0E0E0;
}
a:hover.creditsLinkClass	 
{ 
	text-decoration: none; 
	color: #E0E0E0;
}
/*End "blank link" fix*/

a:link		
{ 
	text-decoration: none; 
	color: #404040;
}

a:visited	
{ 
	text-decoration: none; 
	color: #404040; 
}

a:active		
{ 
	text-decoration: none; 
	color: #E0E0E0;
}

a:hover		
{ 
	text-decoration: none; 
	color: #E0E0E0; 
}

pre
{
	font-family: Arial, sans-serif;
	font-size: 8pt;
}


table
{
	/*width: 100%;*/
	background-color: #707070;
	border-style: solid none solid none; 
	border-width: 3; 
	border-color: #606060;
	cellpadding: 1;
	cellspacing: 1;
	empty-cells: show;
	color: #000000;
}

tr
{
}

th
{
	background-color: #607080;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: baseline;
}

td
{
	background-color: #808080;
	font-size: 8pt;
	text-align: center;
	vertical-align: center;
}

.higlightedClass
{
	/*background-color: #ffffff;*/
	font-style=oblique;
}

/* Used by the printMapsPerPageWidget() function */
.mapsPerPageFormClass
{
	font-size=12pt;
}

/* Used by the printPageSelectors() function */
.pageSelectorsClass
{
	font-weight=bold;
	text-decoration=none;
	font-size=12pt;
}

